<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/friend-settings']">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<style>
  ion-list {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
  }

  .img {
    width: 82px;
    height: 106px;
    border-radius: 5px;
  }
</style>
<ion-content color="light">
  <ion-item>
    <ion-card style="display:flex;box-shadow:0 4px 16px rgba(0,0,0,0);" class="welcome-card">
      <img class="img" src="{{baseUrl}}/{{imgPath}}" alt="" />
      <ion-card-header>
        <ion-card-title style="margin-bottom: 1rem;">{{userName}}</ion-card-title>
        <ion-card-subtitle>微信号:{{wechatId}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-item>
  <ion-item href="pay">
    <ion-label>设置备注和标签</ion-label>
  </ion-item>
  <ion-list>
    <ion-item [routerLink]="['/friend-moments']" [queryParams]="{wechatId:wechatId}">
      <ion-label slot="start" style="max-width: 4rem;">朋友圈</ion-label>
      <div *ngFor="let img of Img4" style="width: 80px;height: 80px;margin: 0.5rem 0.25rem;">
        <img style="width: 80px;height: 80px;object-fit: cover;" src = "{{baseUrl}}/{{img}}">
      </div>
    </ion-item>
    <ion-item>
      <ion-label>更多信息</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item (click)="friendVerification()">
      <ion-label style="text-align: center;">{{type}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="text-align: center;">音视频通话</ion-label>
    </ion-item>
  </ion-list>
</ion-content>