<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<style>
  ion-list {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
  }
</style>
<ion-content color="light">
  <ion-item [routerLink]="['/information-page']">
    <ion-card style="display:flex;box-shadow:0 4px 16px rgba(0,0,0,0);" class="welcome-card">
      <img class="img" src="{{imgPath}}">
      <ion-card-header>
        <ion-card-title style="margin-bottom: 1rem;">{{userName}}</ion-card-title>
        <ion-card-subtitle>微信号:{{wechatId}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-item>
  <ion-list lines="none">
    <ion-item href="pay">
      <ion-icon slot="start" color="medium" name="wallet"></ion-icon>
      <ion-label>支付</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="collect">
      <ion-icon slot="start" color="medium" name="cube"></ion-icon>
      <ion-label>收藏</ion-label>
    </ion-item>
    <ion-item href="album">
      <ion-icon slot="start" color="medium" name="image"></ion-icon>
      <ion-label>相册</ion-label>
    </ion-item>
    <ion-item href="card">
      <ion-icon slot="start" color="medium" name="card"></ion-icon>
      <ion-label>卡包</ion-label>
    </ion-item>
    <ion-item href="https://www.baidu.com">
      <ion-icon slot="start" color="medium" name="happy"></ion-icon>
      <ion-label>表情</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item [routerLink]="['/settings']">
      <ion-icon slot="start" color="medium" name="settings"></ion-icon>
      <ion-label>设置</ion-label>
    </ion-item>
  </ion-list>
</ion-content>