<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
      </ion-buttons>
    <ion-title>朋友圈相册</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
