<ion-header>
  <ion-toolbar id="tab2Title">
    <ion-title style="background: #f4f5f8;">通讯录</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-friend-page']">
        <ion-icon slot="icon-only" style="color: black;" name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar (ionFocus)="hide()" (ionBlur)="show()" placeholder="搜索" showCancelButton="focus" cancelButtonText = "取消"></ion-searchbar>
</ion-header>
<ion-content color="light">
  <ion-list id="tab2Info">
    <ion-item (click)="newFriend()">
      <ion-icon slot="start" color="medium" name="person-add"></ion-icon>
      <ion-label>新的朋友</ion-label>
      <ion-badge color="danger" slot="end">{{msgNum}}</ion-badge>
    </ion-item>
    <ion-item [routerLink]="['/album']">
      <ion-icon slot="start" color="medium" name="people"></ion-icon>
      <ion-label>群聊</ion-label>
    </ion-item>
    <ion-item href="card">
      <ion-icon slot="start" color="medium" name="pricetags"></ion-icon>
      <ion-label>标签</ion-label>
    </ion-item>
    <ion-item href="expression">
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-label>公众号</ion-label>
    </ion-item>
  </ion-list>
  <ion-list id="friendList">
    <ion-item *ngFor="let item of friendLists" [routerLink]="['/friend-card']"
      [queryParams]="{wechatId:item.wechatId,userName:item.userName,imgPath:item.imgPath,type:'sendMsg'}">
      <ion-avatar slot="start">
        <img style = "border-radius: 5px;" src="{{baseUrl}}/{{item.imgPath}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.userName}}</h2>
        <p>{{item.sign}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>