<ion-header>
  <ion-toolbar id="tab1Title">
    <ion-title style="background: #f4f5f8;">微信</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover()">
        <ion-icon slot="icon-only" style="color: black;" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar (ionFocus)="hide()" (ionBlur)="show()" placeholder="搜索" showCancelButton="focus" cancelButtonText = "取消"
    ></ion-searchbar>
</ion-header>
<ion-content color="light">
  <ion-list>
    <ion-item *ngFor="let item of chatsGroup" (click)="showChat(item.fUserName,item.wechatId,item.imgPath)">
      <ion-avatar slot="start">
        <img style = "border-radius: 5px;"  src="{{baseUrl}}/{{item.imgPath}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.fUserName}}</h2>
        <p>{{item.lastMsg}}</p>
      </ion-label>
      <ion-badge color="danger" slot="end">{{item.msgNum}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>