<ion-header>
  <ion-toolbar>
    <ion-title style="background: #f4f5f8;">
      发现
    </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  ion-list {
    margin-bottom: 0.5rem
  }
</style>
<ion-content color="light">
  <ion-list lines="none">
    <ion-item detail-push (click)="moments()">
      <ion-icon slot="start" color="medium" name="aperture"></ion-icon>
      <ion-label>朋友圈</ion-label>
      <ion-badge color="danger" slot="end">{{momentsNum}}</ion-badge>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="expand"></ion-icon>
      <ion-label>扫一扫</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="radio"></ion-icon>
      <ion-label>摇一摇</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="color-palette"></ion-icon>
      <ion-label>看一看</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-filter"></ion-icon>
      <ion-label>搜一搜</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="man"></ion-icon>
      <ion-label>附近的人</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="restaurant"></ion-icon>
      <ion-label>附近的餐厅</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="card"></ion-icon>
      <ion-label>购物</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="logo-game-controller-b"></ion-icon>
      <ion-label>游戏</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="appstore"></ion-icon>
      <ion-label>小程序</ion-label>
    </ion-item>
  </ion-list>
</ion-content>