<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>设置</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  ion-list {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
  }
</style>
<ion-content color="light">
  <ion-list lines="none">
    <ion-item [routerLink]="['/account-safe']">
      <ion-label>账号与安全</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="album">
      <ion-label>新消息通知</ion-label>
    </ion-item>
    <ion-item href="card">
      <ion-label>隐私</ion-label>
    </ion-item>
    <ion-item href="expression">
      <ion-label>通用</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="expression">
      <ion-label>帮助与反馈</ion-label>
    </ion-item>
    <ion-item href="settings">
      <ion-label>关于微信</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="#">
      <ion-label>插件</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item>
      <ion-label style="text-align: center;">切换账号</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item (click)="quit()">
      <ion-label style="text-align: center;">退出登陆</ion-label>
    </ion-item>
  </ion-list>
</ion-content>